# Import numpy and pandas

In [6]:
import numpy as np
import pandas as pd

# load the dataset 
df = pd.read_csv('creditcard.csv')

In [8]:
# get information about the data set

df.info()

# Check the number of missing values in each column 

df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
# Distribution of the legit and fraudulet transactions 
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

0 --> Normal/legit transaction

1 --> fraudulet transaction

In [ ]:
# Separte the data for more analysis
normal = df[df.Class == 0]
fraud  = df[df.Class == 1]

In [12]:
print(normal.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [14]:
# statistical measures 
normal.Amount.describe()
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [15]:
# Compare the values for fraud and normal transations 

df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Under sampling 

Build a sample dataset that has the same number of dataelements as that of the fraudulent transaction, i.e, ---> 492

In [18]:
normal_samp = normal.sample(n=492)
# Concatinate the two dataframes

new_df = pd.concat([normal_samp, fraud], axis=0)
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
276152,166933.0,-2.339020,2.451100,-1.763667,-0.512509,-0.393720,-1.390607,0.020040,0.799736,0.354050,...,0.374384,1.345085,0.165373,-0.064806,-0.548682,-0.293059,-0.537804,-0.130735,0.89,0
268210,163109.0,2.018888,-1.177058,0.021121,-0.480715,-1.450846,0.035421,-1.411534,0.192914,0.153693,...,-0.280014,-0.288991,0.332784,-0.362044,-0.719958,0.486977,0.002768,-0.043074,32.80,0
404,292.0,-0.401849,1.015111,1.302010,-0.042208,0.055806,-0.683093,0.561144,0.106408,-0.570880,...,-0.215930,-0.623168,-0.013880,0.262950,-0.207349,0.056362,0.237041,0.087456,4.45,0
92660,64034.0,1.248151,-1.464237,0.455511,-1.222046,-1.508484,0.065084,-1.093242,0.121021,-1.671062,...,-0.277432,-0.465507,0.014900,-0.000160,0.260870,-0.264165,0.034807,0.019703,96.82,0
255453,157237.0,1.846475,-1.127908,0.002191,-0.074453,-1.752890,-1.187657,-0.751699,-0.276239,-0.221863,...,-0.045899,0.282442,0.274169,0.977305,-0.583172,0.580459,-0.021903,-0.012894,118.00,0

In [22]:
new_df['Class'].value_counts() # Number of counts in the class colum 
new_df.groupby('Class').mean() # Groupes the data based on the mean of the dataset in each column and class

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94922.473577,0.036388,0.025555,0.052991,-0.084825,0.040686,-0.000971,0.027714,-0.021634,-0.050323,...,-0.016642,-0.043957,-0.001337,0.031554,-0.005294,0.021203,0.000339,-0.032485,-0.025104,74.179329
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [23]:
# Split the data as features(independent) and target (dependent)

x = new_df.drop(columns='Class', axis=1)
y = new_df['Class']

In [25]:
# Split the data as training and test data 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, stratify=y, random_state=2)

# Model training 

logistic regression model

In [27]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
# train the model
model.fit(x_train, y_train)

LogisticRegression()


# Model Evaluation


Accuracy score

In [28]:
from sklearn.metrics import accuracy_score

In [31]:
# Accuracy on the training data 
x_train_prediction = model.predict(x_train)

training_data_accuracy = accuracy_score(x_train_prediction, y_train)
print('Accuracy of the training dataset :', training_data_accuracy)

Accuracy of the training dataset : 0.9313850063532402

In [33]:
# Accuracy on the test data 
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

print('Accuracy of test dataset :', test_data_accuracy)

Accuracy of test dataset : 0.9137055837563451